@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: rgb(45,76,102);
    background: linear-gradient(152deg, rgba(45,76,102,1) 0%, rgba(25,42,56,1) 100%);
    height:100vh;
    padding: 32px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: #31CFD8;
    text-decoration: none;
}

.avatar{
    width:100px;
    height:100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border:solid white 4px;
}

.title{
    margin:12px;
    margin-bottom: 4px;
}

.job{
    margin-bottom:18px;
}

.social-button{
    margin:8px;
}

.social-container{
    margin-bottom:32px;
}

.btn-container{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.btn{
    background-color: gray;
    padding:16px;
    border-radius: 12px;
    color: white;
    margin-top:12px;
    margin-bottom:12px;
    font-size:20x ;
}
