@use 'colors';
$primary: red;

body,html{
    height:100%;
    background-color: colors.$primary;
}

.card{
    .card-header{
       color:white;
    }
        
    .card-body{
        background:white;
    }
    &:hover{
        box-shadow: 4px 4px 4px black;
    }
}
