.container{
    height: 100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box{
    height: 100px;
    width: 100px;
}

.red{
    background-color: red;
}

.orange{
    background-color: orangered;
}

.yellow{
    background-color: orange;
}